Repository eartool/eartool: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, dprint fmt, mrl check --paths

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix", "dprint fmt"],
  "package.json": ["mrl check --paths", "dprint fmt"]
}

Add changeset
  .changeset/friendly-suits-rush.md
Due: none

Update pnpm and reselect
  package.json
  packages/command-fix-namespace/package.json
  pnpm-lock.yaml
Due: dprint fmt, mrl check --paths

Update ts-jest
  package.json
  pnpm-lock.yaml
Due: dprint fmt, mrl check --paths

Remove old jest deps
  jest.config.cjs
  package.json
  packages/batch/package.json
  packages/command-fix-namespace/package.json
  packages/command-refactor/package.json
  packages/eartool/package.json
  packages/replacements/package.json
  packages/test-utils/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: dprint fmt, mrl check --paths

Drop ts-node
  package.json
  packages/batch/package.json
  packages/command-fix-namespace/package.json
  packages/command-refactor/package.json
  packages/eartool/package.json
  packages/replacements/package.json
  packages/test-utils/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: dprint fmt, mrl check --paths

bump typescript to latest
  package.json
  packages/batch/package.json
  packages/command-fix-namespace/package.json
  packages/eartool/package.json
  packages/replacements/package.json
  packages/test-utils/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: dprint fmt, mrl check --paths

Bump internal usage of redux and tslib
  package.json
  packages/batch/package.json
  packages/command-fix-namespace/package.json
  packages/command-refactor/package.json
  packages/eartool/package.json
  packages/replacements/package.json
  packages/test-utils/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: dprint fmt, mrl check --paths

upgrade prettier where possible
  package.json
  packages/batch/package.json
  packages/command-fix-namespace/package.json
  packages/command-refactor/package.json
  packages/eartool/package.json
  packages/replacements/package.json
  packages/test-utils/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: dprint fmt, mrl check --paths

Bump pino versions
  packages/batch/package.json
  packages/command-fix-namespace/package.json
  packages/command-refactor/package.json
  packages/eartool/package.json
  packages/replacements/package.json
  packages/test-utils/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: dprint fmt, mrl check --paths

Bump to action-setup v4
  .github/workflows/publish-snapshot.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

Fix snapshots
  package.json
Due: dprint fmt, mrl check --paths

Fix corejs code
  packages/command-refactor/src/main/calculatePackageExportRenamesForFileMoves.ts
  packages/command-refactor/src/main/iterator.d.ts
  packages/command-refactor/src/main/setupOverall.ts
Due: eslint --fix, dprint fmt

upgrade husky
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: dprint fmt, mrl check --paths

upgrade lint-staged
  package.json
  pnpm-lock.yaml
Due: dprint fmt, mrl check --paths

upgrade @types/node
  packages/batch/package.json
  packages/command-fix-namespace/package.json
  packages/command-refactor/package.json
  packages/eartool/package.json
  packages/replacements/package.json
  packages/test-utils/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: dprint fmt, mrl check --paths

upgrade pnpm helper libraries
  packages/batch/package.json
  packages/command-fix-namespace/package.json
  packages/command-refactor/package.json
  packages/eartool/package.json
  packages/replacements/package.json
  packages/test-utils/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: dprint fmt, mrl check --paths

upgrade changesets cli
  package.json
  pnpm-lock.yaml
Due: dprint fmt, mrl check --paths

update pnpm packages used internally
  packages/batch/package.json
  packages/command-fix-namespace/package.json
  packages/command-refactor/package.json
  packages/eartool/package.json
  packages/replacements/package.json
  packages/test-utils/package.json
  packages/utils/package.json
  packages/utils/src/workspace/createWorkspaceFromDisk.ts
  pnpm-lock.yaml
Due: eslint --fix, dprint fmt, mrl check --paths

getAllImportsAndExports handles classes and enums now
  .changeset/tidy-tools-invite.md
  packages/replacements/src/getAllImportsAndExports.test.ts
  packages/utils/src/tsmorph/getAllImportsAndExports.ts
Due: eslint --fix, dprint fmt

Add dependabot patterns
  .github/dependabot.yml
Due: none

Add dependabot patterns (#45)
  .github/dependabot.yml
Due: none

Fix dependabot
  .github/dependabot.yml
Due: none

Fix dependabot (#48)
  .github/dependabot.yml
Due: none

Upgrade eslint 9
  .eslintrc.cjs
  eslint.config.mjs
  package.json
  packages/batch/package.json
  packages/command-fix-namespace/package.json
  packages/command-refactor/package.json
  packages/command-refactor/src/main/calculatePackageExportRenamesForFileMoves.test.ts
  packages/command-refactor/src/worker/cleanupMovedFile.test.ts
  packages/eartool/package.json
  packages/replacements/package.json
  packages/test-utils/package.json
  packages/test-utils/src/test-utils/WorkspaceBuilder.ts
  packages/utils/package.json
  packages/utils/src/workspace/WorkspaceInfo.ts
  pnpm-lock.yaml
Due: eslint --fix, dprint fmt, mrl check --paths

Upgrade eslint 9 (#54)
  .eslintrc.cjs
  eslint.config.mjs
  package.json
  packages/batch/package.json
  packages/command-fix-namespace/package.json
  packages/command-refactor/package.json
  packages/command-refactor/src/main/calculatePackageExportRenamesForFileMoves.test.ts
  packages/command-refactor/src/worker/cleanupMovedFile.test.ts
  packages/eartool/package.json
  packages/replacements/package.json
  packages/test-utils/package.json
  packages/test-utils/src/test-utils/WorkspaceBuilder.ts
  packages/utils/package.json
  packages/utils/src/workspace/WorkspaceInfo.ts
  pnpm-lock.yaml
Due: eslint --fix, dprint fmt, mrl check --paths
